# exportPattern("^[^\\.]")

export("db.connect", "db.disconnect", "db.list")

export ("conn.pkg", "host", "dbname", "user")

export ("db.data.frame")

exportClasses ("db.obj", "db.Rquery", "db.data.frame", "db.table", "db.view")

exportMethods ("dim", "names")

export ("content", "conn.id", "conn.id<-")
