# exportPattern("^[^\\.]")

export("db.connect", "db.disconnect", "db.list")

export ("conn.pkg", "host", "dbname", "user")

export ("db.data.frame")

exportClasses("db.obj", "query.obj", "db.data.frame", "db.obj.table", "db.obj.view")
